<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="http://localhost:3333/fontawesome-free/css/all.min.css"
    />
    <style>
      .direct {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .btn-primary.active {
        color: #1105fe;
      }
    </style>
  </head>
  <body>
    <%- include('includes/nav.ejs') %> <%- include('includes/setion.ejs')%>

    <div class="modal fade" id="addUserModalC">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header bg-m text-white">
            <h5 class="modal-title">Cadastrar Plano</h5>
            <button class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/plano">
              <div class="form-group">
                <label for="detalhes">Detalhes</label>
                <input
                  type="text"
                  class="form-control"
                  name="detalhes"
                  required
                />
              </div>

              <div class="row">
                <div class="form-group">
                  <label for="price">Price</label>
                  <input
                    type="number"
                    class="form-control"
                    name="price"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="tipo">Tipo</label>
                  <input
                    type="text"
                    class="form-control"
                    name="tipo"
                    required
                  />
                </div>
              </div>

              <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">
                  Fechar
                </button>
                <button class="btn btn-primary" type="submit">Cadastrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="addUserModalD">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header bg-m text-white">
            <button class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/plano">
              <div class="form-group">
                <label for="detalhes"> Codigo do Bilhete </label>
                <input
                  type="text"
                  class="form-control"
                  name="detalhes"
                  required
                />
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">
                  Fechar
                </button>
                <button class="btn btn-primary" type="submit">
                  Validar Bilhete
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- USER MODAL -->
    <div class="modal fade" id="addUserModalA">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header bg-m text-white">
            <h5 class="modal-title">Cadastrar Local</h5>
            <button class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/local" enctype="multipart/form-data">
              <div class="form-group">
                <label for="name">Nome do Local </label>
                <input type="text" class="form-control" name="name" required />
              </div>
              <a class="btn btn-primary text-white" id="addFoto">Mais Foto</a>
              <div class="form-group">
                <div class="col-md-6">
                  <label for="file">Escolher fotos do Local </label>
                  <div id="includeFoto">
                    <input
                      type="file"
                      name="photo"
                      class="form-control-file"
                      required
                    />
                  </div>

                  <small class="form-text text-muted">Nº max 3mb</small>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">
                  Fechar
                </button>
                <button class="btn btn-primary" type="submit">Cadastrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="../js/jquery-3.2.1.slim.min.js"
    ></script>

    <script>
      const tr1 = document.getElementById('tr1');
      const tr2 = document.getElementById('tr2');

      const alu = document.getElementById('alu');
      const cola = document.getElementById('cola');

      const includeFoto = document.getElementById('includeFoto');
      const addFoto = document.getElementById('addFoto');

      addFoto.addEventListener('click', () => {
        includeFoto.innerHTML += `
        <input
                      type="file"
                      name="photo"
                      class="form-control-file"
                      required
                    />
        `;
      });

      tr1.addEventListener('click', () => {
        alu.style.display = 'table-row-group';
        cola.style.display = 'none';

        tr1.classList.add('active');
        tr2.classList.remove('active');
      });

      tr2.addEventListener('click', () => {
        alu.style.display = 'none';
        cola.style.display = 'table-row-group';

        tr2.classList.add('active');
        tr1.classList.remove('active');
      });
    </script>
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
  </body>
</html>
