<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bilhete</title>
    <link rel="stylesheet" href="http://localhost:3333/style.css" />
    <link
      rel="stylesheet"
      href="http://localhost:3333/fontawesome-free/css/all.min.css"
    />
  </head>

  <body>
    <div class="ticket">
      <div class="plane">
        <i class="fas fa-plane"></i>
      </div>
      <div class="ticket-body">
        <h2>BILHETE ESMACARAM</h2>

        <div class="ticket-info">
          <img src="http://localhost:3333/img/723928.jpg" alt="foto user" />
          <div class="data">
            <p><strong>Cod: </strong>12 34 56 78</p>
            <p><strong>Nome: </strong>Hamilton silva</p>
            <p><strong>Plano: </strong>Gold</p>
          </div>
        </div>
        <p class="date"><strong>Data: </strong>12/02/2021</p>
      </div>
    </div>
  </body>
</html>
